.homepage-box {
    height: 100%;
    background: url("@/assets/imgs/homepage.png") center center no-repeat;
    background-size: 100% 100%;

    .homepage-header {
        box-sizing: border-box;
        position: relative;
        height: 15%;
        background: url("@/assets/imgs/homepage-header.png") center center no-repeat;
        background-size: 100% 100%;

        >h3 {
            text-align: center;
            color: #03b4f5;
            font-size: 30px;
            height: 63%;
            font-weight: 400;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        .tab-box {
            position: absolute;
            width: 35%;
            height: 80%;
            top: 35%;
            left: 1%;
            display: flex;

            >li {
                width: 33.33%;
                background: red;
                height: 100%;
                background: url("@/assets/imgs/homepage-tab.png") center center;
                background-size: 100% 100%;
                color: #757f95;
                cursor: pointer;

                >span {
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    flex-direction: column;
                    height: 58%;
                    width: 100%;
                    font-weight: 500;
                    font-size: 20px;
                }
            }
        }

        .roll {
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            background: rgba(207, 0, 27, 0.5);
            color: red;
            padding: 0 10px;
            width: 35%;
            cursor: pointer;

            >i {
                // font-size: 20px;
            }
        }
    }

    >main {
        box-sizing: border-box;
        height: 85%;
        padding: 0 1% 2% 1%;
        display: flex;
        justify-content: space-between;

        >div {
            height: 100%;
        }

        .left-box,
        .right-box {
            width: 23%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .category {
                height: 48%;
                border: 1px solid #36446d;
                box-sizing: border-box;

                >header {
                    height: 44px;
                    line-height: 44px;
                    background: url("@/assets/imgs/homepage-title.svg") no-repeat;
                    padding-left: 20px;

                    >span {
                        margin-left: 20px;
                        color: #51F4F3;
                        font-weight: 400;
                    }
                }

                .category-statistics {
                    height: calc(100% - 44px);
                }
            }
        }

        .middle-box {
            width: 51%;
            background: green;
            background: url("@/assets/imgs/homepage-map.png") center center;
            background-size: 100% 100%;
        }

        // .right-box {
        // }
    }
}